.place-order {
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: 50px;
  margin: 100px 0px;
}

.place-order-left {
  width: 100%;
  max-width: max(30%, 500px);
}

.place-order-left .title {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 50px;
}

.place-order-left input,
.place-order-left select {
  margin-bottom: 15px;
  width: 100%;
  padding: 10px;
  border: 1px solid #c5c5c5;
  border-radius: 4px;
  outline-color: tomato;
  background: #fff;
}

.place-order-left .multi-field {
  display: flex;
  gap: 10px;
}

.place-order-right {
  width: 100%;
  max-width: max(40%, 500px);
}

.cart-total h2 {
  margin-bottom: 16px;
}

.cart-total-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 8px 0;
}

.place-order-submit {
  margin-top: 24px;
  border: none;
  background-color: tomato;
  color: white;
  padding: 12px 30px;
  border-radius: 4px;
  cursor: pointer;
}

.payment {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 15px;
}

.payment h2 {
  margin-top: 30px;
  margin-bottom: 12px;
}

.payment .payment-option {
  display: flex;
  align-items: center;
  gap: 10px;
  border: 1px solid tomato;
  padding: 15px;
  border-radius: 4px;
  min-width: 300px;
}

.payment .payment-option.active {
  background-color: #ffe7de;
}

.payment .payment-option .dot {
  font-size: 18px;
  color: tomato;
  line-height: 1;
}

@media (max-width: 700px) {
  .place-order {
    flex-direction: column;
  }
}
